modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_GOOGLE_CLIENT_ID = "155152959717-9ja420d454urufbqmu8bh1aq9tu1epu7.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID = "155152959717-a20bfhbkjp05k4kd3cahvasvbneimn7q.apps.googleusercontent.com"
JWT_SECRET = "2c9a59ebe9b666a77d15edb9cf0c3b2a5c7e989f723436e84d20649fe8f7b859"

[nix]
channel = "stable-25_05"
